<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>
<typeAliases>
	<typeAlias type="com.group.mayo.employee.domain.Employee" alias="Employee"/>
	<typeAlias type="com.group.mayo.project.domain.Project" alias="Project"/>
	<typeAlias type="com.group.mayo.work.domain.Work" alias="Work"/>
	<typeAlias type="com.group.mayo.company.domain.Company" alias="Company"/>
	<typeAlias type="com.group.mayo.department.domain.Dept" alias="Dept"/>
	<typeAlias type="com.group.mayo.employee.domain.CommuteEmployee" alias="CommuteEmployee"/>
	<typeAlias type="com.group.mayo.employee.domain.CommuteRecord" alias="CommuteRecord"/>
	<typeAlias type="com.group.mayo.employee.domain.Holiday" alias="Holiday"/>
	<typeAlias type="com.group.mayo.employee.domain.HolidayEmployee" alias="HolidayEmployee"/>
	<typeAlias type="com.group.mayo.approval.domain.EapDomain" alias="Eap"/>
</typeAliases>
<mappers>
	<mapper resource="mappers/employee-mapper.xml"/>
	<mapper resource="mappers/project-mapper.xml"/>
	<mapper resource="mappers/work-mapper.xml"/>
	<mapper resource="mappers/company-mapper.xml"/>
	<mapper resource="mappers/dept-mapper.xml"/>
	<mapper resource="mappers/commute-mapper.xml"/>
	<mapper resource="mappers/holiday-mapper.xml"/>
	<mapper resource="mappers/eap-mapper.xml"/>
	
</mappers>
</configuration>
