@charset "UTF-8";

/* 왼쪽 메뉴바 */
.left_bar{
	background-color :rgb(235, 255, 246);
	float: left;
	text-align: center;
	width: 250px;
	height: 100vh;
}


.left_bar_date{
    font-weight: bolder;
}

.left_bar_time{
	font-weight: bolder;
}
.left_bar_btn{
	
}
.btn_attendance{
	font-weight: bolder;
}
.btn_leave{
	font-weight: bolder;
}
.btn_off{
	font-weight: bolder;
}





/* 왼쪽메뉴바를 제외한 */
.left_bar_exception{
	padding: 20px;
	margin: 0 0 0 250px;
}


.commute_title{
	font-weight: bolder;
}
/* 왼쪽메뉴바를 제외한 나의정보 */
.my_info{
	background-color :rgb(235, 255, 246);
	width: 100%;
	font-weight: bolder;
}
/* 왼쪽메뉴바를 제외한 테이블 */
.table_all{
	width: 100%;
}

.commute_table{
	text-align: center;
	width: 100%;
	
}

.commute_table_th{
	border: 1px solid;
	padding: 5px;
	background-color :rgb(235, 255, 246);
}





/* 인사팀 전용 */
.commute_bottom_btn{
	float: right;
/* 	padding: 20px; */
}
.btn_commute_list{
	font-weight: bolder;
}

.btn_commute_change{
	font-weight: bolder;
}
