@charset "UTF-8";

/* 왼쪽 메뉴바 */
.left_bar{
	background-color :rgb(235, 255, 246);
	float: left;
	text-align: center;
	width: 250px;
	height: 100vh;
}


.left_bar_date{
    font-weight: bolder;
}

.left_bar_time{
	font-weight: bolder;
}
.left_bar_btn{
	
}
.btn_attendance{
	font-weight: bolder;
}
.btn_leave{
	font-weight: bolder;
}
.btn_off{
	font-weight: bolder;
}





/* 왼쪽메뉴바를 제외한 */
.left_bar_exception{
	padding: 20px;
	margin: 0 0 0 250px;
}


.commute_title{
	font-weight: bolder;
	margin-bottom: 20px;
}


/* 그래프 */
#chart_nodata{
	line-height:300px;
	text-align: center;
	    width: 40vw;
	height: 400px;
}

.chart_week{
	display : flex;
}
.highcharts-background{
	height: 20px;
/* 	!important */
}
.chart_chart{
	magin-left:250px;


}
#container{
	width: 40vw;
}

/* 나의정보, 인사팀버튼 */
.my_pe{
	display: block;
}

/* 왼쪽메뉴바를 제외한 나의정보 */
.my_info{
	background-color :rgb(255 166 0 / 23%);
	float: left;
	width: fit-content;
	font-weight: bolder;
	margin-top: 8px;
}
/* 왼쪽메뉴바를 제외한 인사팀버튼 */
.personnel_button{
	FLOAT: right;
	margin-top: -55px;
}

/* 왼쪽메뉴바를 제외한 테이블 */
.table_all{
	width: 100%;
	margin-top: -30px;
}

.commute_table{
	text-align: center;
	width: 100%;
}

.commute_table_th{
	border: 1px solid;
	padding: 5px;
	background-color :rgb(235, 255, 246);
}

.commute_table_list_td{
	border: 1px solid;
	padding: 5px;
}




/* 인사팀 전용 */
.commute_bottom_btn{
	float: right;
/* 	padding: 20px; */
}
.btn_commute_list{
	font-weight: bolder;
}

.btn_commute_change{
	font-weight: bolder;
}

.complete_attend {
	display: none;
}



/* 달력 */
.datepicker .datepicker-days tr td.active ~ td,.datepicker .datepicker-days tr td.active{
	color: #af1623 !important;
	background: transparent !important;
} 

.datepicker .datepicker-days tr:hover td{
	color: #000;
	background: #e5e2e3;
	border-radius: 0;
} 


.week_box{
	width: 810px;
	    height: 200px;
}
.week-controls{
	float: right;
	magin: 20px 0 20px 0;
}
.week_title{
	margin: 20px 0 20px 0;
}

.col-sm-8{
	padding: 0;
	width: 80%;
	

}
.form-control{
	text-align: center;
}
#prevWeek{
	margin: 20px 5px 20px 20px;
}
#nextWeek{
	margin: 20px 0px 20px 5px;
}