@charset "UTF-8";
#side_bar_container{
    width: 250px;
    height: 100vh;
    margin-top:60px;
    background-color:rgb(235, 255, 246);
    padding: 1rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position:fixed;
}
.new_button{
   margin-bottom: 15px;
    text-align: center;
}
#new_approval{
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    font-family: 'GmarketSansMedium';
    cursor: pointer;
}
#contour{
    margin: 15px 0 15px 0;
    opacity: .25;
}

.top_menu >a{
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    display: block;
    box-sizing: border-box;
}
.sub_menu{
    padding: 0 10px;
}
.sub_menu>ul li a{
	cursor: pointer;
}
.sub_menu>ul li a:not([href]):hover{
	color: #ccc;
}

.top_menu *{
   color: rgb(37, 158, 101);
}
#side_bar_container>#menulist>ul li{
    margin: 10px 0 10px 0;
}
.drop_motion{
    transform: rotate(90deg);
    transition: .2s;
}
.fa-caret-right{
    margin-right: 15px;
}