/* 제목 */
#j_title{
	font-size: xx-large;
    font-weight: bolder;
}

 /* body  */
#j_background{
    /* 배경색상 */
    background-color: rgb(235, 255, 246);
    /* 가운데 정렬 */
    margin: 0 auto;
	
}

#j_container{
    box-sizing: border-box;
    background-color: white;
    padding: 25px;
    width: 1000px;
    height: 815px;

    /* 가운데 정렬 */
    margin: 0 auto;

    border-radius: 15px;
    
    margin-top: 100px;
}
#j_container1{
    float: left;
    padding: 10px;
    width: 450px;
    box-sizing: border-box;

    height: 400px;

    padding-top: 40px;
    
}
#j_container2{
    float: left;
    width: 450px;
    box-sizing: border-box;

    height: 400px;
    position: relative;
    left: 40px;

    padding-top: 10px;

}
/* job */
#job_no{
    width: 120px;
}
/* 가운데 선 */
#j_line {
    border-left :2px solid rgb(117, 117, 117);
    margin: 10px;
    height : 560px;
    float: left;
   
}
/* 이용약관 */
#clause{
    display: block;
    float: left;
    position: relative;
    top: 40px;
}
/* 이용약관 선 */
#j_cline{
    align-content: center;
	margin: 20px 0px 25px;
}
/* 각 행들- 주소 제외*/
.j_e{
    position: relative;
    top: 45px;

    font-size: larger;
    
    display: block;
	float: left;
	
    padding: 5px
}
/* footer */
#j_footer{
    padding: 5px;
    text-align: center;
}
/* 버튼 위치*/
#j_btn{
    float: right;
    position: relative;
/*     top: 30px; */
    right: 50px;
    
}
.j_btn_gray, .doubleChk{
	border-radius: 6px;
    background-color: #ccc;
    border: 0px;
    color: white;
    font-size: smaller;
    padding: 5px;
}
/* div 크기 */
#j_emp_no{
	display: block;
	float: left;
}
#j_pwd,#j_pwd_chk{
	display: block;
	float: left;	
}
#j_emp_phone{
	width: 100%
}

/*  div 간격 */
#j_dept,#j_job{
    float: left;
    width: 50%;
}
#j_emp_phone{
    padding-top: 10px;
}
#j_email{
   padding-top: 5px;
   height: 70px;
}
/* input 입력칸 크기 */
#emp_name{
    width: 80%;
}
#rrn{
    width: 61%;
}
#emp_no{
    width: 47%;
}
#dept_no,#job_no{
    width: 60%;
}
#password{
    width: 71%;
}
#password_chk{
    width: 56%;
}
#email_id{
    display: inline-block;
    width: 20%;
}
#domain{
    width: 60%;
}
#domain_box{
	display: inline-block;
	padding-top: 5px;
}
#email_check{
    font-size: medium;
    padding-top: 5px;
    
    position: relative;
    top: 83px;
    float: right;
    width: 100%	;
}
#email_check_no{
    width: 30%;
}
#sample6_postcode{
	width: 35%;
}
#sample6_address{
	width:75%;
}
#sample6_detailAddress{
	width: 40%;
}
#phone{
	width: 65%;
}
