@charset "UTF-8";

/* 왼쪽 메뉴바 */
.left_bar{
	background-color :rgb(235, 255, 246);
	float: left;
	text-align: center;
	width: 250px;
	height: 100vh;
}


.left_bar_date{
	font-weight: bolder;
}

.left_bar_time{
	font-weight: bolder;
}


.left_bar_btn{
}
.btn_attendance{
	font-weight: bolder;
}
.btn_leave{
	font-weight: bolder;
}
.btn_off{
	font-weight: bolder;
}






/* 왼쪽메뉴바를 제외한 */
.left_bar_exception{
	padding: 20px;
	margin: 0 0 0 250px;	
	margin-top:60px;
}
.holiday_list{
	font-weight: bolder;
}


.search_bar{
		float: right;
}




/* 왼쪽메뉴바를 제외한 테이블 */
.holiday_list_table{
	text-align: center;
	width: 100%;
}

.holiday_table_list_th{
	border: 1px solid;
	padding: 5px;
	background-color :rgb(235, 255, 246);
}

.holiday_table_list_td{
	border: 1px solid;
	padding: 5px;
}







