@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansLight';
}

a {
    text-decoration: none;
    color: black
}

li{
    list-style-type: none;
}


.btn_green{
    border-radius: 6px;
    background-color: rgb(107, 191, 152);
    border: 0px;
    padding: 7px 15px 7px 15px ;
    color: white;
}
.btn_green:hover{
    background-color: rgb(22, 160, 133);
}
.btn_gray{
    border-radius: 6px;
    background-color: #ccc;
    border: 0px;
    padding: 7px 15px 7px 15px ;
    color: rgba(0, 0, 0, 0.6);
}
.btn_gray:hover{
    background-color: rgb(150, 150, 150);
}
.btn_yellow{
    border-radius: 6px;
    background-color: rgb(242, 184, 75);
    border: 0px;
    padding: 7px 15px 7px 15px ;
    color: white;
}
.btn_yellow:hover{
    background-color: rgb(255, 166, 0);
}
.btn_red{
    border-radius: 6px;
    border: 0px;
    padding: 7px 15px 7px 15px ;
    color: white;
    background-color: rgb(242, 89, 75);
}
.btn_red:hover{
    background-color: rgb(208,61,47);
}
.font1{
    /* 기본글씨크기 */
    font-size: 1rem;
}
.font2{
    /* 표 제목 */
    font-size: 1.234rem;
}
.font3{
    /* 소제목 */
    font-size: 1.567rem;
}
.font4{
    /* 중제목 */
    font-size: 1.789rem;
}
.font5{
    /* 대제목 */
    font-size: 2rem;
}
.font6{
    /* 타이틀 */
    font-size: 2.123rem;
}

