@charset "UTF-8";

/* 왼쪽 메뉴바 */
.left_bar{
	background-color :rgb(235, 255, 246);
	float: left;
	text-align: center;
	width: 250px;
	height: 100vh;
}


.left_bar_date{
	font-weight: bolder;
}

.left_bar_time{
	font-weight: bolder;
}


.left_bar_btn{
}
.btn_attendance{
	font-weight: bolder;
}
.btn_leave{
	font-weight: bolder;
}
.btn_off{
	font-weight: bolder;
}






/* 왼쪽메뉴바를 제외한 */
.left_bar_exception{
	padding: 20px;
	margin: 0 0 0 250px;	
}
/* 왼쪽메뉴바를 제외한 나의정보*/
.my_pe{
	margin-top: 20px;
	
}
.my_info{
	margin-bottom: 14px;
}
/* 왼쪽메뉴바를 제외한 날짜박스 */
.select_box{
	float: left;
	width: 330px;
	margin-right: 20px;
	margin-left: 20px;

}
.year_select{
	margin-left: 250px;
	
}
.year_title{
	padding: 20px;
}

.occur_title{
	padding: 8px;
	float: left;
	background-color: #ebfff6;
}
/* 왼쪽메뉴바를 제외한 인사팀버튼 */
.personnel_button{
	margin-top: 213px;
	margin-bottom: 17px;
}
.holiday_list{
	font-weight: bolder;
}


/* 왼쪽메뉴바를 제외한 테이블 */
.table_all{
	width: 100%;
	    margin-top: 244px;
}

.holiday_table{
	text-align: center;
	width: 100%;
	
}

.holiday_table_list_th{
	border: 1px solid;
	padding: 5px;
	background-color :rgb(235, 255, 246);
}

/* .holiday_table_list_td{ */
/* 	border: 1px solid; */
/* 	padding: 5px; */
/* } */

