@charset "UTF-8";

#side{
	width:250px;
	min-width:250px;
	height:100%;
	background-color: rgb(235, 255, 246);
	position:absolute;
}

#side-content{
	top: 30px;
	position: relative;
	flex-direction: column;
}

#body{
	margin: 30px 300px;
}

.btn_detail{
	font-size:0.8rem;
}

#eimg{
	width:35px;
}

#isemergency {
	border:0;
	background-color: white;
}

 .progress{
    width : 50%;
    height :100px;
    position: relative;
    top:0;
    left:0;
    overflow-x: hidden;
    cursor: pointer;
    border : 1px solid black;
}

.state{
    width : 0;
    height :50px;
    position: absolute;
    top:0;
    left:0;
    background-color: rgb(107, 191, 152);
}