@charset "UTF-8";

/* 사이드 섹션 */
#side {
	width:250px;
	min-width:250px;
	height:100vh;
	background-color: rgb(235, 255, 246);
	position:fixed;
	top: 60px;
}

#side-content {
	display:flex;
	flex-direction: column;
	top: 30px;
	position: relative;
	/* 중앙 정렬 */
	align-items: center;
        
}

/* 업무 추가 모달 내부 전체 */
.insidebody {
	padding:40px 40px 0 40px !important;
}

.btn_detail {
	font-size:0.8rem;
}

/* 사이드 버튼 디테일 */
.sidebtn {
	width: fit-content;
	margin: 10px;
}

/* 리스트 버튼 디테일 */
.list{
	border: none;
	margin-right: 20px;
	font-weight: bold;
/* 	배경 투명 */
	background-color: transparent;
	color: rgb(22, 160, 133);
	
}

.list:hover{
	color:rgb(107, 191, 152);
}

.deleteFile{
	border: none;
	background-color: transparent;
}

#addFile{
	padding: 3px 5px 3px 5px;
	margin-left: 10px;
}

#projectPic {
	background-color: white;
	padding: 20px;
}

input {
	padding: 5px;	
}

#ppContent {
	margin-top: 100px;
}

#pp{
	display:flex;
	padding-left: 15px;
}

.picempno {
	display:none;
}

/* 직원 추가 */
#insertPic{
	padding: 10px;
	border: none;
	background-color: transparent;
}

.fa-lg{
	color: rgb(242, 184, 75);
}

.fa-lg:hover{
	color: rgb(255, 166, 0);
}


#body {
	margin: 30px 300px;
}


#eimg {
	width:35px;
}

#isemergency {
	border:0;
	background-color: white;
}

/* 업무 추가 제목 부분 border 설정 */
#title {
	border:none;
}

/* 업무 추가 내용 */
#content {
	resize: none;
}

/* 진행도 */
#percentage {
	margin-left:10px;
	width:40px;
	border:none;
}

/* 프로그래스바 */
#progress {
	-webkit-appearance: none;  /* Override default CSS styles */
	overflow: hidden;
	width:250px;
	height: 25px;
	background: #d3d3d3; /* Grey background */
	margin-left:10px;
	border-radius: 10px;
	outline: none; /* Remove outline */
  	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
  	transition: opacity .2s;
}

/* Mouse-over effects */
#progress:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#progress::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(107, 191, 152); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Styles the track of the input*/
#progress::-webkit-slider-runnable-track {
	height: 25px;
	-webkit-appearance: none;
	color: rgb(107, 191, 152);
/* 	margin-top: -1px; */
}

/* Styles the thumb of the input*/
#progress::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(107, 191, 152); /* Green background */
  cursor: pointer; /* Cursor on hover */
}