@charset "UTF-8";

#side{
	width:250px;
	min-width:250px;
	height:100%;
	background-color: rgb(235, 255, 246);
	position:absolute;
}

#side-content{
	top: 30px;
	position: relative;
	flex-direction: column;
}

#body{
	margin: 30px 300px;
}

/* 업무 추가 모달 내부 전체 */
.insidebody{
	padding:40px 40px 0 40px !important;
}

.btn_detail{
	font-size:0.8rem;
}

#eimg{
	width:35px;
}

#isemergency {
	border:0;
	background-color: white;
}

/* 업무 추가 제목 부분 border 설정 */
#title{
	border:none;
}

/* 프로그래스바 */
#progress{
	width:250px;
	margin-left:10px;
}