@charset "UTF-8";

#body {
	display:flex;
}

/* 테이블 */
.tabletext{
	text-align: center;
	width: 70vw !important; 
	margin: 0 30px 0 10vw;
}

/* 메인 제목 */
.font4 {
	margin: 0 30px 30px 10vw;
}

#projList{
	margin-top: 50px;
	margin-bottom: 70px;
}

#side{
	width:250px;
	min-width:250px;
	height:100vh;
	background-color: rgb(235, 255, 246);
}

#insertProj{
	margin: 30px 0 30px 65px;
}
/* 사이드 250px */