@charset "UTF-8";
/* nav 컨테이너 css 시작 */
#main_nav_container{
	width:250px;
    background-color:rgb(235, 255, 246);
    position:fixed;
	top:60px;
}
/* nav 컨테이너 css 종료 */
/* --------------------- */

/* nav 래퍼 css 시작 */
#main_nav_wrapper{
	height: 100vh;
	display:flex;
	align-items: center;
	flex-direction: column;
	padding:15px;
}
/* #main_nav_wrapper div:not(.user_info){ */
/* 	margin-top:15px; */
/* } */
/* nav 래퍼 css 종료 */
/* --------------------- */

/* nav user_info css 시작 */
#user_info{
	width:200px;
	background: white;
	border-radius: 15px;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.user_name{
	font-size: 20px;
	font-weight:bold;
	
}
#user_img{
	width:160px;
	height:150px;
}
#user_img>img{
	width:inherit;
	height:inherit;
}
#user_name_dept{
	text-align: center;
}

/* nav user_info css 종료 */
/* --------------------- */

/* nav digital_watch css 시작 */
#digital_watch{
	margin-top:35px;
	text-align: center;
}
.left_bar_btn{
	margin-top:15px;
	text-align: center;
}
.left_bar_date{
    font-weight: bolder;
}

.left_bar_time{
	font-weight: bolder;
}
.btn_attendance{
	font-weight: bolder;
}
.btn_leave{
	font-weight: bolder;
}
.btn_off{
	font-weight: bolder;
}

/* nav digital_watch css 종료 */
/* --------------------- */

/* nav mini_calendar css 시작 */
.complete_attend {
	display: none;
}

/* nav digital_watch css 종료 */

/* nav mini_calendar css 시작 */
#mini_calendar{
	margin-top:25px;
	height:300px;
}
.fc table{
	font-size: 0.79em !important;
}
.fc .fc-toolbar.fc-header-toolbar{
	
	margin-bottom:5px;
}
.fc .fc-toolbar-title{
font-size: 1.3em;	
}
.fc .fc-button{
	padding:0.2em 0.5em;
}
.fc-scroller-liquid-absolute::-webkit-scrollbar-track{
	background-color:rgb(107, 191, 152);
}
.fc-scroller-liquid-absolute::-webkit-scrollbar-thumb{
	background-color:rgb(107, 191, 152);
}
/* nav mini_calendar css 종료 */









