<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="CommuteRecord">


	<select id="myCommuteStatus" resultType="CommuteRecord">
		select * from COMMUTE_RECORD
	</select>
	<insert id="statusAtt">
		insert into COMMUTE_RECORD (RECORD_NO,EMP_NO,START_TIME,END_TIME)
		values(
		(select nvl(max(RECORD_NO),0)+1 from COMMUTE_RECORD)
		,'202230001'
		,systimestamp
		,null)
	</insert>
	
	<select id="selectStatusAtt" parameterType="string" resultType="CommuteRecord">
	
	select * from (select * from COMMUTE_RECORD order by start_time desc) where emp_no = #{id} and rownum= 1
	</select>
	
	<select id="empCommuteList" resultType="CommuteEmployee">
		SELECT EMP_NO
			, EMP_NAME
			, PHONE
			, (SELECT dept_name FROM department b WHERE b.dept_no = a.dept_no ) DEPT_NM
			, (SELECT job_name FROM job b WHERE b.job_no = a.job_no) JOB_NM
		FROM employee a order by EMP_NO
	</select>
	
	
	
	<select id="empCommuteChange" resultType="CommuteRecord">
	 
	</select>
</mapper>
