<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="CommuteRecord">

<!-- //	template_left -->
	<!-- 	출근시간,퇴근시간 확인 -->
	<select id="toDayCommuteStatus" resultType="CommuteRecord" parameterType="String">
		SELECT 
			TO_CHAR(START_TIME, 'HH24:MI:SS') today_start_time
			,TO_CHAR(END_TIME, 'HH24:MI:SS') today_end_time
		FROM commute_record
		WHERE emp_no =#{id} 
			AND TO_CHAR(start_Time, 'YYYYMMDD') = TO_CHAR(sysdate, 'YYYYMMDD') 
	</select>

	<!-- 출근시간 등록 -->
	<insert id="statusAtt">
		insert into COMMUTE_RECORD (RECORD_NO,EMP_NO,START_TIME,END_TIME)
		values(
		(select nvl(max(RECORD_NO),0)+1 from COMMUTE_RECORD)
		,#{id} 
		,to_date( to_char(sysdate, 'YYYYMMDDHH24MISS'), 'YYYYMMDDHH24MISS')
		,null)
	</insert>

	<select id="selectStatusAtt" parameterType="string" resultType="CommuteRecord">
	SELECT 
		TO_CHAR(START_TIME, 'HH24:MI:SS') today_start_time
	FROM commute_record
	WHERE emp_no =#{id} 
		AND TO_CHAR(start_Time, 'YYYYMMDD') = TO_CHAR(sysdate, 'YYYYMMDD') 
	</select>

	<!-- 퇴근시간 등록 -->
	<update id="statusLeave">
		UPDATE commute_record set end_time=SYSTIMESTAMP 
		where emp_no=#{id} 
		and to_char(start_Time, 'YYYYMMDD') = to_char(sysdate, 'YYYYMMDD')
	</update>

	<select id="selectStatusLeave" parameterType="string" resultType="CommuteRecord">
		SELECT 
		TO_CHAR(END_TIME, 'HH24:MI:SS') today_end_time
		FROM commute_record
		WHERE emp_no =#{id} 
			AND TO_CHAR(start_Time, 'YYYYMMDD') = TO_CHAR(sysdate, 'YYYYMMDD') 
	</select>




<!-- //	개인근태페이지 -->
	<!-- 그래프 -->
	<select id="chartData" resultType="CommuteRecord" parameterType="hashmap">
		select * from(
			select 
				trunc(( t.week_work ) * 24 ) ||'시'||' ' ||
				LPad( round(trunc(  Mod( ( t.week_work ) * 24 * 60 , 60) ) ) ,2,0)||'분' || ' ' ||
				LPad( round(Mod( (t.week_work)* 24 * 60 * 60 , 60 )),2,0)||'초'  week_work
				,trunc((1.875 - (t.week_work) ) * 24 ) ||'시'||' ' ||
				LPad( round(trunc(  Mod( ( 1.875 - (t.week_work) ) * 24 * 60 , 60) ) ) ,2,0)||'분' || ' ' ||
				LPad( round(Mod( (1.875 - (t.week_work))* 24 * 60 * 60 , 60 )),2,0)||'초'  week_work_mod
				, round (t.week_work/1.875  *100 , 0)  week_rate
				, round ( (1.875 - (t.week_work) )/1.875 *100, 0) mod_rate
			from (
				select
					trunc(( end_time - start_time ) * 24 ) ||'시'||' ' ||
					LPad( round(trunc(  Mod( ( end_time - start_time ) * 24 * 60 , 60) ) ) ,2,0)||'분' || ' ' ||
					LPad( round(Mod( (end_time-start_time)* 24 * 60 * 60 , 60 )),2,0)||'초' AS oneday_work -- 하루 근무 시간 
					,sum(end_time - start_time) OVER(ORDER BY start_time) week_work
				from commute_record 
				where start_time between #{startDt} and #{endDt} and emp_no=#{id}
				) t ORDER BY week_work_mod)  where rownum=1
	</select>




	<!-- 	나의 정보 -->
	<select id="commuteMyInfo" resultType="CommuteEmployee" parameterType="string" >
		SELECT EMP_NO
			, EMP_NAME
			, PHONE
			, (SELECT dept_name FROM department b WHERE b.dept_no = a.dept_no ) DEPT_NM
			, (SELECT job_name FROM job b WHERE b.job_no = a.job_no) JOB_NM
		FROM employee a where emp_no=#{id} 
	</select>
	<!-- 근태 테이블 리스트 -->
	<select id="commuteMystatus" parameterType="hashmap" resultType="CommuteRecord" >
		select 
			t.wokr_day
			,t.start_time
			,t.end_time
			,t.oneday_work
			,  trunc(( t.week_work ) * 24 ) ||'시'||' ' ||
			    LPad( round(trunc(  Mod( ( t.week_work ) * 24 * 60 , 60) ) ) ,2,0)||'분' || ' ' ||
			    LPad( round(Mod( (t.week_work)* 24 * 60 * 60 , 60 )),2,0)||'초'  week_work
			,   trunc((1.875 - (t.week_work) ) * 24 ) ||'시'||' ' ||
			    LPad( round(trunc(  Mod( ( 1.875 - (t.week_work) ) * 24 * 60 , 60) ) ) ,2,0)||'분' || ' ' ||
			    LPad( round(Mod( (1.875 - (t.week_work))* 24 * 60 * 60 , 60 )),2,0)||'초'  week_work_mod
		from (	select
					    to_char(start_time, 'YYYY-MM-DD' ) wokr_day, --근무일
					    to_char(start_time, 'HH24 : MI : SS' ) start_time, --출근시간
					    to_char(end_time, 'HH24 : MI : SS' ) end_time, --퇴근시간
					    trunc(( end_time - start_time ) * 24 ) ||'시'||' ' ||
					    LPad( round(trunc(  Mod( ( end_time - start_time ) * 24 * 60 , 60) ) ) ,2,0)||'분' || ' ' ||
					    LPad( round(Mod( (end_time-start_time)* 24 * 60 * 60 , 60 )),2,0)||'초' AS oneday_work -- 하루 근무 시간 
					    ,sum(end_time - start_time) OVER(ORDER BY start_time) week_work
				from commute_record where start_time between #{startDt} and #{endDt} and emp_no=#{id}
			) t 
	</select>





<!-- //	인사팀 - 직원근태내역 리스트 -->

	<!-- 	직원 전체 띄움 -->
	<select id="empCommuteList" resultType="CommuteEmployee">
		SELECT EMP_NO
			, EMP_NAME
			, PHONE
			, (SELECT dept_name FROM department b WHERE b.dept_no = a.dept_no ) DEPT_NM
			, (SELECT job_name FROM job b WHERE b.job_no = a.job_no) JOB_NM
		FROM employee a order by EMP_NO
	</select>

	<!-- 	직원검색 -->
	<select id="commuteEmpSearch" parameterType="CommuteEmployee" resultType="CommuteEmployee">
	
		
		SELECT EMP_NO
			, EMP_NAME
			, PHONE
			,b.dept_name DEPT_NM
			, (SELECT job_name FROM job b WHERE b.job_no = a.job_no) JOB_NM
		FROM employee a ,department b 
        WHERE a.dept_no = b.dept_no
		
		<choose>
			<when test="search_type !=null and search_type.equals('search_no')">
				and a.EMP_NO like '%'||#{search_keyword}||'%'
			</when>
			<when test="search_type !=null and search_type.equals('search_name')">
				and a.EMP_NAME like '%'||#{search_keyword}||'%'
			</when>
			<when test="search_type !=null and search_type.equals('search_dept')">
				and b.dept_name like '%'||#{search_keyword}||'%'
			</when>
		</choose>
	
	</select>




<!-- //	인사팀 - 직원근태 상세 - 모달창 수정 -->
	<update id="change" parameterType="hashmap">
		UPDATE commute_record 
		SET start_time = to_date(#{modalDay}||' '|| #{modalStartTime} ||':00',   'YYYY-MM-DD hh24:mi:ss')
		, end_time = to_date(#{modalDay}||' '||#{modalEndTime}||':00',   'YYYY-MM-DD hh24:mi:ss')
		WHERE emp_no = #{empNo}  
		AND TO_CHAR(start_time, 'YYYY-mm-dd') =#{modalDay}
	</update>
	
	
	
	
	
	
	
	
	
</mapper>
