<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Company">
<insert id="insertCompany">
	INSERT INTO COMPANY 
	VALUES (#{CP_NUMBER},#{CP_NAME},#{CP_CATEGORY},#{CP_ADDRESS},#{CP_DETAIL_ADDRESS},#{CP_POSTCODE}
			,#{CP_KING},#{CP_TEL},#{CP_BIRTH})
</insert>
</mapper>
