<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Eap">
	<!-- 결재문서 번호 생성 -->
	<select id="selectNewEaNo" parameterType="Eap" resultType="string">
	SELECT TO_CHAR(EXTRACT (YEAR FROM SYSDATE))||'-'||'AR'||'-'||(select lpad(nvl(to_number(substr(max_ea_no,9,3)),0)+1,3,0) from ( SELECT max(ea_no) max_ea_no FROM ELEC_APPROVAL where ea_no like '%'||#{form_code}||'%' ))
	FROM DUAL
	</select>
	<!-- 결재문서 상신 -->
	<insert id="insertEap" parameterType="Eap">
		insert into elec_approval 
		(EA_NO, EA_TITLE, EA_CONTENT, DRAFTER_ID, DRAFT_DATE,FIRST_APPROVER,SECOND_APPROVER,THIRD_APPROVER
		, FINAL_APPROVER,STATUS_CODE,RESULT_CODE, FORM_CODE, ISEMERGENCY) 
		values
		(
			#{ea_no}
			,#{ea_title},#{ea_content}, #{drafter_id}, DEFAULT
			,#{first_approver},#{second_approver},#{third_approver}
			,#{final_approver},#{status_code}
			, DEFAULT, #{form_code},default
		)
	</insert>
	<select id="selectLoginUserHoliday" parameterType="string" resultType="_double">
		SELECT LEFT_COUNT FROM EMPLOYEE_HOLIDAY WHERE BIRTH_YEAR = EXTRACT(YEAR FROM SYSDATE) AND EMP_NO = #{emp_no} 
	</select>
	
	<!-- 방금 인서트한 결과물 select -->
	<select id="selectResult" parameterType="Eap" resultType="Eap">
		SELECT *
		FROM (SELECT * 
				FROM ELEC_APPROVAL 
				WHERE FORM_CODE = #{form_code}
				ORDER BY DRAFT_DATE DESC)
		WHERE ROWNUM = 1 AND DRAFTER_ID = #{drafter_id}
	</select>
	
	
	<!-- 기안문서함 리스트   -->
	<select id="selectMyList" parameterType="Employee" resultType="Eap">
		SELECT EAP.*,FORM.FORM_TITLE,AF.*
    	FROM ELEC_APPROVAL EAP
    	JOIN EA_FORM FORM ON EAP.FORM_CODE = FORM.FORM_CODE
    	LEFT OUTER JOIN APPROVAL_FILE AF ON EAP.EA_NO = AF.DOC_NO
    	WHERE DRAFTER_ID = #{emp_no}
    	ORDER BY DRAFT_DATE DESC
	</select>
	
	<!-- 기안문서함 상세보기 -->
	<select id="selectDraft" parameterType="Eap" resultType="Eap">
		SELECT VIEW_INFOS.*, D.DEPT_NAME DEPT_NAME 
		FROM VIEW_ELEC_APPR_INFOS VIEW_INFOS
		JOIN EMPLOYEE E ON VIEW_INFOS.DRAFTER_ID = E.EMP_NO
		JOIN DEPARTMENT D ON E.DEPT_NO = D.DEPT_NO
		<where>
			<if test="drafter_id != null">
				DRAFTER_ID = #{drafter_id}
			</if>
			<if test="ea_no != null">
				AND EA_NO = #{ea_no}
			</if>
		</where>
	</select>
	
	<!-- 내 기안문 회수 TODO 결과코드 1로 변경하도록 update -->
	<delete id="deleteEap" parameterType="string">
		DELETE FROM ELEC_APPROVAL WHERE EA_NO=#{ea_no}
	</delete>
	
	<!-- 결재대기문서 리스트 -->
	<select id="selectListWaitApprove" parameterType="string" resultType="Eap">
<!-- 		SELECT EA.*,FORM.FORM_TITLE, E.EMP_NAME DRAFTER_NAME FROM ELEC_APPROVAL EA -->
<!-- 		JOIN EMPLOYEE E ON DRAFTER_ID = EMP_NO -->
<!-- 		JOIN EA_FORM FORM ON EA.FORM_CODE = FORM.FORM_CODE -->
<!-- 		WHERE  -->
<!-- 		( -->
<!-- 			RESULT_CODE=0 and -->
<!-- 			FIRST_APPROVER=#{emp_no} -->
<!-- 		) -->
<!-- 		OR  -->
<!-- 		( -->
<!-- 			RESULT_CODE=2 and -->
<!-- 			    ((SECOND_APPROVER=#{emp_no} AND STATUS_CODE IN(6,14))  -->
<!-- 			    OR  -->
<!-- 			    (THIRD_APPROVER=#{emp_no} AND STATUS_CODE IN(4,12))  -->
<!-- 			    OR  -->
<!-- 			(FINAL_APPROVER=#{emp_no} AND STATUS_CODE IN(8))) -->
<!-- 		) -->
<!-- 		ORDER BY DRAFT_DATE DESC -->
		
		SELECT info.*,e.emp_name drafter_name, hh.left_count left_count FROM view_elec_appr_infos info
		join employee e on drafter_id = emp_no
		join holiday_history hh on info.ea_no = hh.ea_no
		WHERE RESULT_CODE = 0 AND DRAFTER_ID = #{emp_no}
		OR 
		(RESULT_CODE = 2 
		    AND (
		    (SECOND_APPROVER = #{emp_no} )
		    OR (THIRD_APPROVER = #{emp_no})
		    OR (FINAL_APPROVER = #{emp_no})
		    ))
		ORDER BY DRAFT_DATE DESC
	</select>
	
	<update id="updateAppr" parameterType="Eap">
		UPDATE ELEC_APPROVAL SET status_code=#{status_code}, result_code=#{result_code}, update_date = default
		WHERE EA_NO = #{ea_no}
	</update>
	
	<update id="updateReject" parameterType="Eap">
		UPDATE ELEC_APPROVAL SET result_code = #{result_code}, update_date = default, return_reson = #{return_reson}
		WHERE EA_NO = #{ea_no}
	</update>
	
	
	<select id="selectMyListProceeding" parameterType="Employee" resultType="Eap">
		SELECT EAP.*,FORM.FORM_TITLE,AF.*
    	FROM ELEC_APPROVAL EAP
    	JOIN EA_FORM FORM ON EAP.FORM_CODE = FORM.FORM_CODE
    	LEFT OUTER JOIN APPROVAL_FILE AF ON EAP.EA_NO = AF.DOC_NO
    	WHERE DRAFTER_ID = #{emp_no} and RESULT_CODE = 2
    	ORDER BY DRAFT_DATE DESC
	</select>
	
	<select id="selectMyListComplete" parameterType="Employee" resultType="Eap">
		SELECT EAP.*,FORM.FORM_TITLE,AF.*
    	FROM ELEC_APPROVAL EAP
    	JOIN EA_FORM FORM ON EAP.FORM_CODE = FORM.FORM_CODE
    	LEFT OUTER JOIN APPROVAL_FILE AF ON EAP.EA_NO = AF.DOC_NO
    	WHERE DRAFTER_ID = #{emp_no} and RESULT_CODE = 4
    	ORDER BY DRAFT_DATE DESC
	</select>
</mapper>
