<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Eap">

	<!-- 결재문서 상신 -->
	<insert id="insertEap" parameterType="Eap">
		insert into elec_approval 
		(EA_NO, EA_TITLE, EA_CONTENT, DRAFTER_ID, DRAFT_DATE,FIRST_APPROVER,SECOND_APPROVER,THIRD_APPROVER
		, FINAL_APPROVER,STATUS_CODE,RESULT_CODE, FORM_CODE, ISEMERGENCY) 
		values
		(
		(SELECT TO_CHAR(EXTRACT (YEAR FROM SYSDATE)) ||'-'||'AR'||'-'|| 
			(select lpad(nvl(to_number(substr(max_ea_no,9,3)),0)+1,3,0)
			from
			( SELECT max(ea_no) max_ea_no FROM ELEC_APPROVAL where ea_no like '%'||#{form_code}||'%' )
			)
			from dual)
			,#{ea_title},#{ea_content}, #{drafter_id}, DEFAULT
			,#{first_approver},#{second_approver},#{third_approver}
			,#{final_approver},#{status_code}
			, DEFAULT, #{form_code},default
		)
	</insert>
	<!-- 기안문서함 리스트   -->
	<select id="selectMyList" parameterType="Employee" resultType="Eap">
		SELECT EAP.*,FORM.FORM_TITLE,AF.*
    	FROM ELEC_APPROVAL EAP
    	JOIN EA_FORM FORM ON EAP.FORM_CODE = FORM.FORM_CODE
    	LEFT OUTER JOIN APPROVAL_FILE AF ON EAP.EA_NO = AF.DOC_NO
    	WHERE DRAFTER_ID = #{emp_no}
	</select>
	
	<!-- 기안문서함 상세보기 -->
	<select id="selectMyDraft" parameterType="Eap" resultType="Eap">
		SELECT 
			A.*,FORM.FORM_TITLE
			,(SELECT EMP_NAME FROM EMPLOYEE JOIN ELEC_APPROVAL ON (FIRST_APPROVER = EMP_NO) where EA_NO = A.EA_NO) FST_NAME
			,(SELECT EMP_NAME FROM EMPLOYEE JOIN ELEC_APPROVAL ON (SECOND_APPROVER = EMP_NO) where EA_NO = A.EA_NO) SND_NAME
			,(SELECT EMP_NAME FROM EMPLOYEE JOIN ELEC_APPROVAL ON (THIRD_APPROVER = EMP_NO) where EA_NO = A.EA_NO) THD_NAME
			,(SELECT EMP_NAME FROM EMPLOYEE JOIN ELEC_APPROVAL ON (FINAL_APPROVER = EMP_NO) where EA_NO = A.EA_NO)  FNL_NAME
			FROM
			(SELECT * 
			    FROM ELEC_APPROVAL EA
			    JOIN EMPLOYEE E ON EA.DRAFTER_ID = E.EMP_NO
			    where drafter_id = #{drafter_id}) A
			JOIN EA_FORM FORM ON A.FORM_CODE = FORM.FORM_CODE
			LEFT OUTER JOIN APPROVAL_FILE AF ON A.EA_NO = AF.DOC_NO
			WHERE A.EA_NO = #{ea_no};
	</select>
</mapper>
