<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Holiday">

<!-- 	페이지 띄우기 -->
	<select id="holidayEmpList" resultType="HolidayEmployee">
		SELECT EMP_NO
			, EMP_NAME
			, PHONE
			,(SELECT dept_name FROM department dept WHERE dept.dept_no=emp.dept_no) DEPT_NM
			,(SELECT job_name FROM job dept WHERE dept.job_no=emp.job_no) JOB_NM
			,(SELECT left_count FROM employee_holiday empho WHERE empho.emp_no=emp.emp_no and empho.birth_year=EXTRACT(YEAR from sysdate)) LEFT_COUNT
		FROM employee emp order by EMP_NO
		
	</select>



<!-- 개인 연차내역 아래 테이블 리스트 띄우기 TODO-->
	<select id="holidayMystatus" parameterType="hashmap" resultType="Holiday">
	
	
    SELECT
        TO_CHAR(a.req_date, 'YYYY-MM-DD') REQ_DATE_str
        , to_char(a.hd_start,'YYYY-MM-DD') HD_START_str
        , to_char(a.hd_end, 'YYYY-MM-DD') HD_END_str
        , a.hd_count HD_COUNT
        ,a.ea_no HD_REASON
        ,(b.total - sum(a.hd_count) over(order by a.hd_start) )as LEFT_COUNT
<!--         ,b.total  TOTAL -->
<!--         연차총일자 -->
    from holiday_history a, employee_holiday b
    
    WHERE a.emp_no = b.emp_no
    AND a.emp_no=#{id} and to_char(a.hd_start,'YYYY')=#{birthYear}
    AND b.birth_year =#{birthYear}
    ORDER BY A.HD_START , A.HD_END


	</select>



















	<insert id="insertHoliday" parameterType="Holiday">
		INSERT INTO HOLIDAY_HISTORY 
		VALUES
		(
		(SELECT NVL(MAX(HD_NO),0)+1 FROM HOLIDAY_HISTORY)
		, #{emp_no}, default, #{hd_start}, #{hd_end}, #{hd_code}
		, #{hd_count}, #{hd_reason}, #{ea_no}
		)
	</insert>
	<!-- 선택한 결재문서의 내용  -->
	<select id="selectHoliday" parameterType="string" resultType="Holiday">
		SELECT * FROM HOLIDAY_HISTORY WHERE EA_NO=#{ea_no}
	</select>
	
	<!-- 휴가신청기록 삭제 -->
	<delete id="deleteHoliday" parameterType="string">
		DELETE FROM HOLIDAY_HISTORY WHERE EA_NO = #{ea_no}
	</delete>
</mapper>
