<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Project">

<!-- 	private int proj_no; -->
<!-- 	private String proj_name; -->
<!-- 	private Timestamp proj_date; -->
<!-- 	private String proj_content; -->
<!-- 	private String proj_mgr; -->
<!-- 	private int proj_type; -->
<resultMap type="Employee" id="Employee">
	<result column="EMP_NO" property="emp_no"/>
	<result column="EMP_NAME" property="emp_name"/>
	<result column="EMP_NAME" property="emp_name"/>
	<result column="DEPT_NO" property="dept_no"/>
</resultMap>

<resultMap type="Project" id="Project">
	<result column="PROJ_NO" property="proj_no"/>
	<result column="PROJ_NAME" property="proj_name"/>
	<result column="PROJ_DATE" property="proj_date"/>
	<result column="PROJ_CONTENT" property="proj_content"/>
	<result column="PROJ_MGR" property="proj_mgr"/>
	<result column="PROJ_TYPE" property="proj_type"/>
	<collection property="Employee" resultMap="Employee"/>
</resultMap>


<select id="selectAllProj" resultType="Project">
	select * from proj order by proj_no desc
</select>

<!-- 프로젝트 생성 -->
<insert id="insertProj" parameterType="Project">
<!-- 	insert into proj values  -->
<!-- 	((select nvl(max(PROJ_NUM),0)+1 from proj)), #{proj_name}, default, #{proj_content}, #{proj_mgr}, #{proj_type})  -->
	<!-- TODO 로그인 세션, 프로젝트 종류 -->
	insert into proj values 
	((select nvl(max(proj_no),0)+1 from proj), #{proj_name}, default, #{proj_content}, 202220123 , #{proj_type}) 
</insert>

<!-- 프로젝트 담당자 추가 -->
<insert id="insertPic" parameterType="Project">
	insert into proj_pic values (#{emp_no}, #{proj_no})
</insert>

<!-- 프로젝트 담당자 삭제 -->
<delete id="deletePic" parameterType="Project">
	delete from proj_pic where emp_no=#{emp_no}
</delete>

<!-- 프로젝트 선택 -->
<select id="selectProj" resultType="Project">
	select * from proj where proj_no=#{proj_no} order by proj_no desc
</select>

<!-- 프로젝트 수정 -->
<update id="updateProj" parameterType="Project">
	update proj set proj_name=#{proj_name}, proj_content=#{proj_content} where proj_no=#{proj_no}
</update>

<!-- 프로젝트 삭제 -->
<delete id="deleteProj" parameterType="Project">
	delete from proj where proj_no=#{proj_no}
</delete>

</mapper>
