<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Schedule">
<!-- SKED_NO         NOT NULL NUMBER          -->
<!-- SKED_NAME       NOT NULL VARCHAR2(50)    -->
<!-- SKED_DATE       NOT NULL TIMESTAMP(6)    -->
<!-- SKED_CONTENT             VARCHAR2(1500)  -->
<!-- SKED_START_DATE          DATE            -->
<!-- SKED_END_DATE            DATE            -->
<!-- SKED_LOCATION            VARCHAR2(500)   -->
<!-- SKED_CATEGORY            VARCHAR2(50)    -->
<!-- SKED_EMP_ID              VARCHAR2(50)    -->

</mapper>
