<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Schedule">
<!-- SKED_NO         NOT NULL NUMBER          -->
<!-- SKED_NAME       NOT NULL VARCHAR2(50)    -->
<!-- SKED_DATE       NOT NULL TIMESTAMP(6)    -->
<!-- SKED_CONTENT             VARCHAR2(1500)  -->
<!-- SKED_START_DATE          DATE            -->
<!-- SKED_END_DATE            DATE            -->
<!-- SKED_LOCATION            VARCHAR2(500)   -->
<!-- SKED_CATEGORY            VARCHAR2(50)    -->
<!-- SKED_EMP_ID              VARCHAR2(50)    -->
<resultMap type="Employee" id="Employee">
	<result column="EMP_NO" property="emp_no"/>
	<result column="EMP_NAME" property="emp_name"/>
	<result column="EMP_NAME" property="emp_name"/>
	<result column="DEPT_NO" property="dept_no"/>
</resultMap>

<resultMap type="Project" id="Project">
	<result column="PROJ_NO" property="proj_no"/>
	<result column="PROJ_NAME" property="proj_name"/>
	<result column="PROJ_DATE" property="proj_date"/>
	<result column="PROJ_CONTENT" property="proj_content"/>
	<result column="PROJ_MGR" property="proj_mgr"/>
	<result column="PROJ_TYPE" property="proj_type"/>
</resultMap>	
	
<resultMap type="Schedule" id="Schedule">
	<result column="SKED_NO" property="sked_no"/>
	<result column="SKED_NAME" property="sked_name"/>
	<result column="SKED_DATE" property="sked_date"/>
	<result column="SKED_CONTENT" property="sked_content"/>
	<result column="SKED_START_DATE" property="sked_start_date"/>
	<result column="SKED_END_DATE" property="sked_end_date"/>
	<result column="SKED_LOCATION" property="sked_location"/>
	<result column="SKED_CATEGORY" property="sked_category"/>
	<result column="SKED_EMP_ID" property="sked_emp_id"/>
	<collection property="Employee" resultMap="Employee"/>
	<collection property="Project" resultMap="Project"/>
</resultMap>

<!-- 특정 프로젝트 일정 글 수 -->
<select id="selectSkedCnt" resultType="_int">
	select count(*) where sked_category=#{sked_category}
</select>

<!-- 새 일정 등록 -->
<insert id="insertSked" parameterType="Schedule">
	insert into schedule values ((select nvl(max(sked_no),0)+1 from schedule), #{sked_name}, default, #{sked_content},
	#{sked_start_date}, #{sked_end_date}, #{sked_location}, #{sked_category}, #{sked_emp_id})
</insert>

<!-- 전체 프로젝트 일정 보기 -->
<select id="selectAllSked" parameterType="Schedule" resultType="Schedule">
	select * from schedule sked join proj proj on (sked.SKED_CATEGORY = TO_CHAR(proj.proj_no)) 
	where proj_no in (select proj_no from proj left outer join project_pic using(proj_no) where emp_no=#{emp_no} or proj_mgr=#{emp_no})
</select>

<!-- 전사 일정 보기 -->
<select id="selectSkedA" resultType="Schedule">
	select * from schedule where sked_category = 'A' 
</select>

<!-- 개인 일정 보기 -->
<select id="selectSkedP" parameterType="Schedule" resultType="Schedule">
	select * from schedule where sked_category = 'P' and sked_emp_id = #{emp_no}
</select>

<!-- 특정 프로젝트 일정 보기 -->
<select id="selectSked" resultType="Schedule">
	select * from schedule sked join employee emp on (sked.sked_emp_id=emp.emp_no) where sked_category = #{sked_category} order by sked_date desc
</select>

<!-- 일정 상세 보기 -->
<select id="viewSked" resultType="Schedule">
	select * from schedule where sked_no=#{sked_no}
</select>

<!-- 일정 수정 -->
<update id="updateSked" parameterType="Schedule">
	update schedule set sked_name=#{sked_name}, sked_content=#{sked_content},
	sked_start_date=#{sked_start_date}, sked_end_date=#{sked_end_date}, sked_location=#{sked_location},
	sked_category=#{sked_category} where sked_no=#{sked_no}
</update>

<!-- 일정 삭제 -->
<delete id="deleteSked">
	delete from schedule where sked_no=#{sked_no}
</delete>











<select id="selectAllminiCalPlan" resultType="Schedule">
	SELECT * FROM SCHEDULE
</select>










</mapper>
